.story
{
  margin-top: 7px;
  margin-left: 7px;
}
.stories{
display: flex;
overflow: scroll;
}

.stories img{
width: 70px;
max-width: none;
border-radius: 50%;
height: 65px;

}
.likefeed
{
    display: flex;
    margin-left:12px; 
    justify-content: space-around;
}
.likedata img
{
    margin-left:10px;
    width: 70px;
    height: 58px;
}

.likeprofile img{
    width: 50px;
    max-width: none;
    border-radius: 50%;
    height: 50px;
    }
    .likeprofile p{
        
        margin-left:7px;
        }


.likes
{
    margin-left:25px;
}

@media (min-width:750px) {
  .stories img{
    width: 100px;
    height: 100px;
    }
   
}