<ion-header>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stories">
    <div class="story">
      <div class="image" style="position: relative;">
        <img src="http://source.unsplash.com/collection/9263445">
        <ion-badge color="danger" style="position: absolute;top: 0;left: 0;">10</ion-badge>
      </div>
    </div>
    <div class="story">

      <p>  Follow Requests<br>Approve or ignore requests</p>

    </div>
  </div>
  <div class="likes">
  <p><b>This Week</b></p>
  </div>
  <div class="likefeed">
      <div class="likeprofile">
        <img src="http://source.unsplash.com/collection/9263445">
      </div>
      <div class="likeprofile">
      <p> Vishal,Vijay,Vishnu and 50 others<br> Liked Your Photo</p>
      </div>
      <div class="likedata">
        <img src="http://source.unsplash.com/collection/9263485">
      </div>
</div>

<div class="likefeed">
  <div class="likeprofile">
    <img src="http://source.unsplash.com/collection/9263495">
  </div>
  <div class="likeprofile">
  <p>Harish,Vijay,Vishnu and 40 others<br> Liked Your Photo</p>
  </div>
  <div class="likedata">
    <img src="http://source.unsplash.com/collection/9273485">
  </div>
</div>


<div class="likefeed">
  <div class="likeprofile">
    <img src="http://source.unsplash.com/collection/9269495">
  </div>
  <div class="likeprofile">
  <p> Rose,Vijay,Vishnu and 30 others<br> Liked Your Photo</p>
  </div>
  <div class="likedata">
    <img src="http://source.unsplash.com/collection/9269485">
  </div>
</div>


<div class="likefeed">
  <div class="likeprofile">
    <img src="http://source.unsplash.com/collection/9269495">
  </div>
  <div class="likeprofile">
  <p> Raghul,Vijay,Vishnu and 10 others<br> Liked Your Photo</p>
  </div>
  <div class="likedata">
    <img src="http://source.unsplash.com/collection/9263185">
  </div>
</div>


<div class="likefeed">
  <div class="likeprofile">
    <img src="http://source.unsplash.com/collection/9273495">
  </div>
  <div class="likeprofile">
  <p> Karthi,Vijay,Vishnu and 90 others<br> Liked Your Photo</p>
  </div>
  <div class="likedata">
    <img src="http://source.unsplash.com/collection/9273485">
  </div>
</div>



<div class="likefeed">
  <div class="likeprofile">
    <img src="http://source.unsplash.com/collection/9263445">
  </div>
  <div class="likeprofile">
  <p> Vishal,Vijay,Vishnu and 10 others<br> Liked Your Photo</p>
  </div>
  <div class="likedata">
    <img src="http://source.unsplash.com/collection/9263485">
  </div>
</div>

<div class="likefeed">
<div class="likeprofile">
<img src="http://source.unsplash.com/collection/9273495">
</div>
<div class="likeprofile">
<p>Harish,Vijay,Vishnu and 20 others<br> Liked Your Photo</p>
</div>
<div class="likedata">
<img src="http://source.unsplash.com/collection/9273485">
</div>
</div>


<div class="likefeed">
<div class="likeprofile">
<img src="http://source.unsplash.com/collection/9269495">
</div>
<div class="likeprofile">
<p> Rose,Vijay,Vishnu and 40 others<br> Liked Your Photo</p>
</div>
<div class="likedata">
<img src="http://source.unsplash.com/collection/9269485">
</div>
</div>


<div class="likefeed">
<div class="likeprofile">
<img src="http://source.unsplash.com/collection/9269495">
</div>
<div class="likeprofile">
<p> Raghul,Vijay,Vishnu and 33 others<br> Liked Your Photo</p>
</div>
<div class="likedata">
<img src="http://source.unsplash.com/collection/9263185">
</div>
</div>


<div class="likefeed">
<div class="likeprofile">
<img src="http://source.unsplash.com/collection/9273465">
</div>
<div class="likeprofile">
<p> Karthi,Vijay,Vishnu and 23 others<br> Liked Your Photo</p>
</div>
<div class="likedata">
<img src="http://source.unsplash.com/collection/9273485">
</div>
</div>


</ion-content>