<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-content>
    <div class="main">
      <p>English (United States) <ion-icon name="ios-arrow-down"></ion-icon></p>
      <div class="sub-main">
      <img src="assets/logo/instagram-logo.png"  height="65px">
      <input type="text" name="username" id="username" placeholder="Enter your username">
      <input type="password" name="password" id="password" placeholder="Enter your password">
      <button (click)="login()">Log In</button>
      <p>Forgot your login details? <b>Get help signing in.</b></p>
      <button style="display: flex;align-items: center;justify-content: center;"><ion-icon name="logo-facebook" style="margin-right: 3px;"></ion-icon> Log in as @vishal</button>
      <p class="or"><span>OR</span></p>
      <p>Don't have an account?<b>Sign up</b></p>
      </div>
    </div>
  </ion-content>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>Instagram from Vishal</p>
  </ion-toolbar>
</ion-footer>